<section>
  <div id="aboutBgOne" class="bg-image">
    <h1 id="aboutHeading">Innovation At Work</h1>
  </div>
</section>

<section class="section-info">
  <div id="aboutBgTwo">
    <%= render partial: "partials/section_display" %>
  </div>
</section>

<script>
  $(function(){
    var $container = $("#aboutBgOne");
    var downloadingImageBackground = new Image();
    var backgroundImageUrl = "<%= asset_path('biotech_abstract_visionary_background_high_res.jpg')%>";

    downloadingImageBackground.onload = function(){
      $container.css({backgroundImage: "url('" + backgroundImageUrl + "')"})
    };
    downloadingImageBackground.src = backgroundImageUrl;
  });
</script>
  