<section>
  <div id="homeBgOne" class="bg-image">
    <h1 id="homeHeading">Strategic Healthcare<br> Investment Partners</h1>
  </div>
</section>

<section class="section-info">
  <div id="homeBgTwo">
    <%= render partial: "partials/section_display" %>
  </div>
</section>

<script>
  $(function(){
    var $container = $("#homeBgOne");
    var downloadingImageBackground = new Image();
    var backgroundImageUrl = "<%= asset_path('dna_helix_silver_high_res.jpg')%>";

    downloadingImageBackground.onload = function(){
      $container.css({backgroundImage: "url('" + backgroundImageUrl + "')"})
    };
    downloadingImageBackground.src = backgroundImageUrl;
  });
</script>