
<h2 id="ourStoryHeading">Strategic&nbsp;Healthcare<br>Investment&nbsp;Partners</h2>

<p id="ourStoryText"class="block-text">In light of global demographic trends, we  believe that the opportunity for innovation in healthcare is currently large both for bringing new technologies to existing markets and for the development of new markets and business models with new technology.  Many opportunities are international in scope and some are likely to disrupt current approaches to diagnosis and therapy, increase the role of the consumer, and depend on collaboration among health care providers throughout the episode of care, and in some cases, all of this will begin with tools to facilitate disease prevention.</p>


<h3>Approach</h3>

<p class="block-text" style="margin-bottom:50px">We believe that collaboration with limited partners seeking both a strategic and financial result can improve the success of venture-backed companies. Strategic players can provide critical insights on preclinical models, clinical trial design and execution, regulatory issues, reimbursement strategies, manufacturing, and international distribution, sales, and marketing.  We are assembling  a limited partner pool of strategic investors that includes corporation, foundations, medical centers, and family offices.   We will work closely with selected regional sources of innovation.</p>