/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  font-size: 16px;
  margin: 0px;
}
body{
  background-color:white;
  font-size: 62.5%;
  font-family: 'Roboto', arial;
  margin:0;
  color: black;
  letter-spacing:2px;
}
div#SHIPLogo h1{
  position:absolute;
  font-size:1.25em;
  height:50px;
  margin:0px;
  padding-top:25px;
  margin-left:10px;
  color:#0091b0;
  font-weight:700;
}
h2{
  color:#0091b0;
}
h2#ourStoryHeading, h2#teamHeading{
  margin-top:150px;
}
h2#landingHeading{
  margin-top:220px;
}
h2#ourStoryHeading, h2#landingHeading, h2#teamHeading{
  font-size:3em;
  font-weight:700;
  margin-left:10%;
}
h3{
  color:#0091b0;
  font-size:2em;
  font-weight:400;
  margin-left:10%;
}
h3 span{
  font-weight:100;
}
ul#keyDifferentiators{
  width:50%;
  margin-left:10%;
  text-align:left;
  font-size:1.5em;
  line-height:1.5em;
  list-style:none;
}
ul#keyDifferentiators li{
  padding-left: 1em; 
  text-indent: -1.4em;
  margin-bottom:10px;
}
ul#keyDifferentiators li:before{
  content: "•  ";
  color:#0091b0;
}
footer{
  margin-top:50px;
  height:150px;
  border-top:1px solid #767676;
}
footer p {
  padding-top:100px;
  text-align:center;
  font-size: 1em;
  line-height:1em;
}
p{
  text-align:left;
  font-size:1.5em;
  line-height:1.5em;
}
.block-text{
  width: 50%;
  margin-left:10%;
}
#landingText{
  margin-top:50px;
}

/* TEAM */
.image-display-none{
  display:none;
}
.profile{
  width:80%;
  margin-left:10%;
  margin-top:100px;
}
.profile h3{
  margin-left:0;
  display:inline-block;
  vertical-align:top;
}
.profile div{
  width:50%;
}
.profile div div{
  display:inline;
}
.profile div div a div.linked-in-logo{
  background: url("/assets/linked_in_logo_sprite.gif");
  background-size: 100% 200%;
  background-position: 0 100%;
  height: 20px;
  width: 60px;
  padding-top:0px;
  border-radius: 2px;
  display:inline-block;
}
.profile div div a div.linked-in-logo:hover{
 background-position: 0 0;
}
img{
  height: 200px;
  width: 133px;
  border: 4px solid white;
  padding:2px;
}
.profile:hover div img{
  -webkit-animation: border-show .2s forwards; /* Safari 4+ */
  -moz-animation:    border-show .2s forwards; /* Fx 5+ */
  -o-animation:      border-show .2s forwards; /* Opera 12+ */
  animation:         border-show .2s forwards;
}
@-webkit-keyframes border-show {
  0%   { border: 4px solid white; }
  100% { border: 4px solid #0091b0; }
}
@-moz-keyframes border-show {
  0%   { border: 4px solid white; }
  100% { border: 4px solid #0091b0; }
}
@-o-keyframes border-show {
  0%   { border: 4px solid white; }
  100% { border: 4px solid #0091b0; }
}
@keyframes border-show {
  0%   { border: 4px solid white; }
  100% { border: 4px solid #0091b0; }
}


/* NAVIGATION */
nav.navbar-default li a.sliding-u-l-r{
  color:#0091b0;
  font-size: 1.3em;
}
nav ul li:hover{
  color:black;
}
.sliding-u-l-r {
  display: inline-block;
}
.sliding-u-l-r:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .25s ease, background-color .25s ease;
  margin-left:20%;
}
.sliding-u-l-r:hover:after {
  background: black;
}
.sliding-u-l-r-80:hover:after{
  margin-left:10%;
  width: 80%;
}
.sliding-u-l-r-70:hover:after{
  margin-left:15%;
  width: 70%;
}
.sliding-u-l-r-60:hover:after{
  margin-left:20%;
  width: 60%;
}
.sliding-u-l-r-50:hover:after{
  margin-left:25%;
  width: 50%;
}
svg{
  height:100%;
  display:inline;
  margin-left:30px;
}

/* IMAGES */
.image-container{
  width:133px;
  height:200px;
  display:inline-block;
  position: relative;
  overflow:hidden;
}

#edBrennanProfileImage{
  position:absolute;
  left: 0;
  top: -100px;
  width: 266px;
}

@media screen and (max-width: 768px){
  .sliding-u-l-r:after {
    display: none;
  }
  .block-text{
    width: 90%;
    margin-left:5%;
  }
}
  
  
  